In [38]:
import requests
import defs
import pandas as pd

In [39]:
session = requests.Session()

In [3]:
instrument = "EUR_USD"
count = 10
granularity = "H1"

In [4]:
url = f"{defs.OANDA_URL}/instruments/{instrument}/candles"

In [5]:
url

'https://api-fxpractice.oanda.com/v3/instruments/EUR_USD/candles'

In [6]:
params = dict(
    count = count,
    granularity = granularity,
    price = "MBA"
)

In [7]:
params

{'count': 10, 'granularity': 'H1', 'price': 'MBA'}

In [8]:
response = session.get(url,params=params,headers=defs.SECURE_HEADER)

In [9]:
response.status_code

200

In [10]:
response.json()

{'instrument': 'EUR_USD',
 'granularity': 'H1',
 'candles': [{'complete': True,
   'volume': 747,
   'time': '2021-11-01T20:00:00.000000000Z',
   'bid': {'o': '1.16055', 'h': '1.16083', 'l': '1.16038', 'c': '1.16054'},
   'mid': {'o': '1.16062', 'h': '1.16090', 'l': '1.16046', 'c': '1.16062'},
   'ask': {'o': '1.16070', 'h': '1.16100', 'l': '1.16053', 'c': '1.16071'}},
  {'complete': True,
   'volume': 154,
   'time': '2021-11-01T21:00:00.000000000Z',
   'bid': {'o': '1.16006', 'h': '1.16025', 'l': '1.15979', 'c': '1.15999'},
   'mid': {'o': '1.16042', 'h': '1.16064', 'l': '1.16012', 'c': '1.16048'},
   'ask': {'o': '1.16077', 'h': '1.16112', 'l': '1.16032', 'c': '1.16097'}},
  {'complete': True,
   'volume': 366,
   'time': '2021-11-01T22:00:00.000000000Z',
   'bid': {'o': '1.16024', 'h': '1.16049', 'l': '1.16003', 'c': '1.16012'},
   'mid': {'o': '1.16045', 'h': '1.16062', 'l': '1.16012', 'c': '1.16020'},
   'ask': {'o': '1.16066', 'h': '1.16078', 'l': '1.16020', 'c': '1.16027'}},
  {'complete': True,
   'volume': 483,
   'time': '2021-11-01T23:00:00.000000000Z',
   'bid': {'o': '1.16014', 'h': '1.16020', 'l': '1.15972', 'c': '1.15989'},
   'mid': {'o': '1.16022', 'h': '1.16028', 'l': '1.15980', 'c': '1.15996'},
   'ask': {'o': '1.16030', 'h': '1.16035', 'l': '1.15987', 'c': '1.16003'}},
  {'complete': True,
   'volume': 959,
   'time': '2021-11-02T00:00:00.000000000Z',
   'bid': {'o': '1.15991', 'h': '1.16010', 'l': '1.15947', 'c': '1.15964'},
   'mid': {'o': '1.15998', 'h': '1.16016', 'l': '1.15954', 'c': '1.15970'},
   'ask': {'o': '1.16004', 'h': '1.16024', 'l': '1.15962', 'c': '1.15977'}},
  {'complete': True,
   'volume': 943,
   'time': '2021-11-02T01:00:00.000000000Z',
   'bid': {'o': '1.15965', 'h': '1.15977', 'l': '1.15942', 'c': '1.15971'},
   'mid': {'o': '1.15972', 'h': '1.15984', 'l': '1.15951', 'c': '1.15978'},
   'ask': {'o': '1.15980', 'h': '1.15992', 'l': '1.15958', 'c': '1.15986'}},
  {'complete': True,
   'volume': 637,
   'time': '2021-11-02T02:00:00.000000000Z',
   'bid': {'o': '1.15972', 'h': '1.15996', 'l': '1.15951', 'c': '1.15994'},
   'mid': {'o': '1.15980', 'h': '1.16002', 'l': '1.15959', 'c': '1.16001'},
   'ask': {'o': '1.15988', 'h': '1.16009', 'l': '1.15967', 'c': '1.16008'}},
  {'complete': True,
   'volume': 1418,
   'time': '2021-11-02T03:00:00.000000000Z',
   'bid': {'o': '1.15993', 'h': '1.16011', 'l': '1.15956', 'c': '1.15984'},
   'mid': {'o': '1.16000', 'h': '1.16018', 'l': '1.15964', 'c': '1.15992'},
   'ask': {'o': '1.16007', 'h': '1.16026', 'l': '1.15973', 'c': '1.16000'}},
  {'complete': True,
   'volume': 978,
   'time': '2021-11-02T04:00:00.000000000Z',
   'bid': {'o': '1.15985', 'h': '1.16079', 'l': '1.15978', 'c': '1.16033'},
   'mid': {'o': '1.15994', 'h': '1.16086', 'l': '1.15986', 'c': '1.16040'},
   'ask': {'o': '1.16002', 'h': '1.16093', 'l': '1.15994', 'c': '1.16047'}},
  {'complete': False,
   'volume': 64,
   'time': '2021-11-02T05:00:00.000000000Z',
   'bid': {'o': '1.16032', 'h': '1.16033', 'l': '1.16020', 'c': '1.16026'},
   'mid': {'o': '1.16038', 'h': '1.16040', 'l': '1.16027', 'c': '1.16034'},
   'ask': {'o': '1.16045', 'h': '1.16047', 'l': '1.16034', 'c': '1.16041'}}]}

In [13]:
url = f"{defs.OANDA_URL}/accounts/{defs.ACCOUNT_ID}/instruments"

In [14]:
params = dict()

In [15]:
response = session.get(url,params=params,headers=defs.SECURE_HEADER)

In [16]:
data = response.json()

In [17]:
data.keys()

dict_keys(['instruments', 'lastTransactionID'])

In [27]:
instruments = data["instruments"]

In [30]:
len(instruments)

122

In [31]:
instruments[0].keys()

dict_keys(['name', 'type', 'displayName', 'pipLocation', 'displayPrecision', 'tradeUnitsPrecision', 'minimumTradeSize', 'maximumTrailingStopDistance', 'minimumTrailingStopDistance', 'maximumPositionSize', 'maximumOrderUnits', 'marginRate', 'guaranteedStopLossOrderMode', 'tags', 'financing'])

In [34]:
instrument_data = []
for item in instruments:
    new_ob = dict(
        name = item['name'],
        type = item['type'],
        displayName = item['displayName'],
        pipLocation = item['pipLocation'],
        marginRate = item['marginRate']
    )
    instrument_data.append(new_ob)

In [37]:
for item in instrument_data[0:3]:
    print(item)

{'name': 'EUR_HUF', 'type': 'CURRENCY', 'displayName': 'EUR/HUF', 'pipLocation': -2, 'marginRate': '0.05'}
{'name': 'FR40_EUR', 'type': 'CFD', 'displayName': 'France 40', 'pipLocation': 0, 'marginRate': '0.05'}
{'name': 'EUR_DKK', 'type': 'CURRENCY', 'displayName': 'EUR/DKK', 'pipLocation': -4, 'marginRate': '0.1'}

In [40]:
instrument_df = pd.DataFrame.from_dict(instrument_data)

In [41]:
instrument_df

          name      type    displayName  pipLocation marginRate
0      EUR_HUF  CURRENCY        EUR/HUF           -2       0.05
1     FR40_EUR       CFD      France 40            0       0.05
2      EUR_DKK  CURRENCY        EUR/DKK           -4        0.1
3      XAU_CHF     METAL       Gold/CHF           -2       0.05
4      XPD_USD       CFD      Palladium           -2       0.10
..         ...       ...            ...          ...        ...
117    USD_PLN  CURRENCY        USD/PLN           -4       0.05
118  AU200_AUD       CFD  Australia 200            0       0.05
119    CAD_HKD  CURRENCY        CAD/HKD           -4        0.1
120   US30_USD       CFD  US Wall St 30            0       0.05
121    GBP_CAD  CURRENCY        GBP/CAD           -4     0.0333

[122 rows x 5 columns]